<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SignIn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <link href="../css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <form class="form-signin" name="loginForm" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Email address</label>
        <input id="inputUsername" class="form-control" placeholder="login" type="text" name="username"></input>
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" class="form-control" placeholder="password" type="password" name="password"></input>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->

<script src="http://cdn.jsdelivr.net/webjars/angularjs/1.3.8/angular.min.js"
        th:src="@{/webjars/angularjs/1.3.8/angular.min.js}"></script>

<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>